.App {
  text-align: center;
  min-width: auto;
  min-height: 100vh;
  overflow-x: hidden;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#light {
  background-color: #FFFFFF;
}

#dark {
  background-color: #3f3f3f;
  color: #FFFFFF;
}

#light .register{
  background-color: #d8d8d8;
}

#dark .register{
  background-color: #ffffff;
}

#light .newsContainer{
  background-color: #d8d8d8;
}

.center{
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.items{
  display: flex;
  padding: 10px;
  align-items: center;
  margin: 0 auto;
}

.item {    
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 60px;
}

.item img {
  height: 250px;
  width: auto;
  object-fit: contain;
}

.aboutTxt {
  margin: 20px;
  text-align: justify;
}

.container {
  display: flex;
  justify-content: flex-end;
}

.addButtonInWin {
  display: flex;
  align-items: center;
  margin-right: 40px;
  margin-bottom: 40px;
}

.space {
  width: 20px;
}

.filter-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.result-item {
  width: calc(40% - 10px);
  margin-bottom: 20px;
}

.result-image {
  max-width: 200px;
  height: auto;
}

@media screen and (min-width: 1200px) {
  .result-item {
    width: calc(25% - 10px); /* Ajusta el ancho deseado para pantallas grandes */
  }
}

@media screen and (max-width: 768px) {
  .result-item {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .onlyBigScreen {
    display: none;
  }
}